<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">weatherapp</h3>
</div>

<div class="jumbotron" ng-controller="MainCtrl">
  <h1>Weather</h1>
  <p><a class="btn btn-lg btn-success" ng-click="getWeather()">Check Weather</a></p>
  <p>Current weather for {{city | uppercase}},{{state | uppercase}}</p>
  <p class="text-center">Time: {{currtime | date:'h:m:s a'}}
  <p ng-show="data">Currently: {{data.weather[0].description}} <br>
    Temperature: {{data.main.temp}} - Humidity {{data.main.temp}}% <br>
    Wind: {{data.wind.speed}} mph
</p>
<p class="muted">{{ url }}</p>
</div>

<div class="footer" ng-controller="MainCtrl">
</div>
